{{ with .Site.Data.testimonial }}
  {{ if .enable }}
  <section class="site-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .testimonial_item }}
        <div class="col-lg-6 col-md-6">
          <a href="{{ .website | safeURL }}" target="_blank">
            <div class="site-testimonial-item">
              <div class="site-testimonial-item-header">
                <div class="thumb">
                  <img src="{{ .logo | absURL }}" alt="user-thumb-one">
                </div>
                <div class="company">
                  <p>{{ .description }}</p>
                </div>
              </div>
              <p class="site-testimonial-item-body">
                {{ .quote }}
              </p>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}